footer {
    background: #fff;
    /*background-color: #0f3460;*/
    padding: 80px 0;
    color: black;
}

footer .box {
    padding: 0 20px;
}

footer h1 {
    margin: 0;
    font-size: 20px;
    width: max-content;
    font-weight: 500;
    color: black;

}

footer img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

footer .logo {
    display:flex;
    align-items:center;
    gap:5px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    color: black;
    /*margin: 0;*/
}


footer .row {
    justify-content: center;
}

footer p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #656565;
}

footer h2 {
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #656565;

}

footer ul {
    padding: 0;
}

footer li {
    margin-bottom: 10px;
    color: #656565;
}