.nav {
    z-index: 1;
}

.container_top {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}
@media (min-width: 768px) {
    .container_top {
        padding: 1rem 3rem;
    }
}
.container_top a {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 10rem;
    /*width: 14rem;*/
}

.container_bottom {
    display: none;
}
@media (min-width: 768px) {
    .container_bottom {
        display: block;
    }
}

.icons_menu {
    display: flex;
    gap: 3rem;
}
.icons_menu li {
    font-size: 3rem;
}
.icons_menu li:hover {
    cursor: pointer;
}

.search_icon,
.cart_icon,
.user_icon {
    display: flex;
    align-items: center;
}

.mobile_icon {
    display: flex;
    align-items: center;
}
@media (min-width: 768px) {
    .mobile_icon {
        display: none;
    }
}

.links {
    display: flex;
    justify-content: center;
    gap: 5rem;
    text-transform: uppercase;
    font-size: 1.6rem;
}

